$border-radius : 10px;

.movie{
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: transparent;
  border-radius: $border-radius;
  img{
    max-height: 320px;
    border-radius: $border-radius $border-radius 0 0;
  }
  .details{
    background-color: rgb(27, 25, 25);
    color: white;
    text-align: start;
    padding: 7px;
    text-transform: capitalize;
    border-radius: 0 0 $border-radius $border-radius;
    p{
      font-size: 16px;
    }
    .minordetail{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.loadin{
  height: 320px;
  animation: loading 1.5s infinite linear;
  background: #dfdfdf;
  background-image: linear-gradient(to right, #dcdee0bb 0%, #f2f3f5 30%, #dcdee0bb 50%, #dcdee0bb 100%);
  background-repeat: no-repeat;
}

@keyframes loading {
  0% {
    background-position: -15vw;
  }
  100%{
    background-position: 15vw;
  }
}