<div class="row">
  <div class="m-4">
    <p>Movies {{ movies.length }}</p>
  </div>
  <div class='col-xs-12 col-sm-6 col-md-3' *ngFor='let movie of movies'>
    <div class="m-1 mt-4 movie">
      <img src="{{movie.poster}}" alt="" class="img-fluid">
      <div class="details">
        <p>{{ movie.title }}</p>
        <div class="minordetail">
          <span>{{ movie.year }}</span>
          <span>{{ movie.type }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf='movies.length == 0'>
  <div class="mt-4 col-xs-12 col-sm-6 col-md-3">
    <div class="loadin"></div>
  </div>
  <div class="mt-4 col-xs-12 col-sm-6 col-md-3">
    <div class="loadin"></div>
  </div>
  <div class="mt-4 col-xs-12 col-sm-6 col-md-3">
    <div class="loadin"></div>
  </div>
  <div class="mt-4 col-xs-12 col-sm-6 col-md-3">
    <div class="loadin"></div>
  </div>

</div>